#output
{
    background:yellow;
    border:10px;
    height:300px;
    width:auto;
    padding:10px;
    margin:10px 10px;
}
#output input
{
    border:0px;
    
}
body
{
    background:gray;
    color:black;
}



